@keyframes services {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes servicesBtn {
	0% {
		transform: translateY(4rem);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes bannerContent {
	0% {
		transform: translateX(0);
	}

	70% {
		transform: translateX(10rem);
	}

	100% {
		transform: translateX(-100vw);
	}
}

@keyframes bannerForm {
	50% {
		transform: translateX(0);
		visibility: hidden;
	}
	50% {
		transform: translateX(-100vw);
	}

	70% {
		transform: translateX(10rem);
	}

	100% {
		transform: translateX(0);
	}
}