*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: 'Montserrat';
}

body {
	margin: 0;
}

p {
	font-family: 'Spectral';
}

a {
	text-decoration: none;
	color: inherit;
}

.header {
	min-height: 100vh;
	position: relative;
	z-index: 0;
	color: $white;

	&__top {
		width: 114rem;
		padding: 1.8rem 1.5rem;
		margin: 0 auto;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__social {
		padding: 0;
		margin: 0;
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		list-style-type: none;

		&-item {
			&:not(:first-child):not(:last-child) {
				margin: 0 .35rem;
			}

			&:first-child {
				margin: 0 .35rem 0 0;
			}

			&:last-child {
				margin: 0 0 0 .35rem;
			}
		}

		&-link {
			width: 3rem;
			height: 3rem;
			display: flex;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			justify-content: center;
			align-items: center;
			font-size: 1.4rem;
			border-radius: 100%;
			background-color: $white + fff21;
			color: $violet;
			transition: all .1s;

			&:hover,
			&:focus {
				color: $white;

				&.icon {
					&-facebook {
						background-color: #3b67ea;
					}

					&-linkedin {
						background-color: #007ab5;
					}

					&-gplus {
						background-color: #df4b38;
					}

					&-tumblr {
						background-color: #34465d;
					}

					&-pinterest {
						background-color: #f33434;
					}

					&-instagram {
						background-color: #e7d6c4;
					}
				}
			}
		}
	}

	&__contacts {
		margin: 0;
		padding: 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		list-style-type: none;

		&-item {
			&:not(:first-child):not(:last-child) {
				margin: 0 1.5rem;
			}

			&:first-child {
				margin: 0 1.5rem 0 0;
			}

			&:last-child {
				margin: 0 0 0 1.5rem;
			}
		}

		&-link {
			font-size: 1.4rem;
			transition: all .1s;

			&:hover,
			&:focus {
				color: $violet;
			}

			&::before {
				display: inline-block;
				margin-right: 1rem;
			}
		}
	}

	&__bar {
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;

		&-row {
			width: 114rem;
			min-height: 5rem;
			padding: 0 1.5rem;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__nav {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;

		&-cont {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
		}

		&-item {
			&:not(:first-child):not(:last-child) {
				margin: 0 1.5rem;
			}

			&:first-child {
				margin: 0 1.5rem 0 0;
			}

			&:last-child {
				margin: 0 0 0 1.5rem;
			}
		}

		&-item--have-megamenu &-link {
			&::after {
				content: "▼";
				display: inline-block;
				margin-left: .5rem;
				transform: translateY(-.1rem);
				font-size: 1.5rem;
			}
		}

		&-item--current &-link {
			color: $violet;
		}

		&-link {
			font-size: 1.5rem;
			font-weight: 700;
			transition: all .1s;
			
			&:hover,
			&:focus {
				color: $violet;
			}
		}
	}

	&__megamenu {
		display: none;
	}

	&__login {
		font-size: 2rem;
		margin-left: 3rem;
		transition: all .1s;

		&:hover,
		&:focus {
			color: $violet;
		}
	}

	&__banner {
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		font-size: 1.8rem;
	}

	&__row {
		width: 84rem;
		height: 69vh;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}

	&__cont {
		width: 65rem;
		max-width: 100%;
	}

	&__content {
		width: 71%;
		margin: auto;
		display: flex;
		flex-direction: column;
		font-weight: 400;
	}

	&__title {
		margin: 0;
		text-transform: uppercase;
		font-size: 8.5rem;

		&--small {
			font-size: 3.5rem;
		}

		&--color {
			margin-right: 1.5rem;
			color: $violet;
		}
	}

	&__btn {
		min-height: 4.5rem;
		width: max-content;
		padding: 0 4rem;
		border-width: 0;
		margin-top: 1.5rem;
		margin-left: auto;
		border-radius: .3rem;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-weight: 700;
		font-size: 1.3rem;
		text-transform: uppercase;
		background-color: $violet;
		transition: all .1s;
		color: $white;
		cursor: pointer;

		&:hover {
			background-color: $orange;
		}
	}

	&__bg {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
	}

	&__video {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.about {
	min-height: 75vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;	
	text-transform: uppercase;
	font-size: 2.4rem;
	color: $violet;
	text-align: center;
	line-height: 5.5rem;

	&__row {
		width: 114rem;
		max-width: 100%;
		margin: auto;
	}

	&__heading {
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;
		transform: translateY(-50%) translateX(-50%);
		font-size: 40rem;
		color: $light;
	}

	p {
		font-family: 'Montserrat';
	}
}

.services {
	min-height: 100vh;
	padding: 6rem 0;
	background-color: $light;

	&__row {
		@extend .about__row;
		display: flex;
		justify-content: space-between;
	}

	&__left {
		width: 39rem;
		min-height: calc(100vh - 12rem);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: $violet;

		&:hover {
			background-color: $orange;
			transition: all .3s;
		}
	}

	&__left:hover &__icon {
		transform: rotate(45deg);
	}

	&__icon {
		width: 14rem;
		height: 14rem;
		margin-bottom: 5rem;
		transition: all .3s;

		> * {
			width: 100%;
			height: 100%;
		}
	}

	&__heading {
		font-size: 2.2rem;
		font-weight: 400;
		color: $white;
		text-transform: uppercase;
	}

	&__right {
		width: 70.5rem;
		margin-left: auto;
	}

	&__nav {
		width: 80%;
		min-height: 5.5rem;
		padding: 0;
		margin: 4rem auto 0;
		list-style: none;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-item {
			min-width: 5rem;
			display: flex;
			justify-content: center;
		}

		&-btn {
			padding: 0;
			border-width: 0;
			display: flex;
			flex-direction: column;
			font-size: .1rem;
			background-color: transparent;
			color: $light;
			cursor: pointer;

			&:focus &-icon {
				filter: invert(38%) 
						sepia(71%) saturate(648%) 
						hue-rotate(220deg) 
						brightness(95%) 
						contrast(95%);
			}

			&:hover &-icon {
				filter: invert(64%) 
						sepia(97%) 
						saturate(400%) 
						hue-rotate(334deg) 
						brightness(101%) 
						contrast(97%);
			}

			&-icon {
				height: 3rem;
				pointer-events: none;
				fill: $dark;
				transition: all .1s;
			}
		}

		&-item--current &-btn-icon {
			height: 5rem;
			filter: invert(38%) 
					sepia(71%) saturate(648%) 
					hue-rotate(220deg) 
					brightness(95%) 
					contrast(95%);
		}
	}

	&__list {
		padding: 0;
		margin: 4rem 0 0;
		display: flex;
		justify-content: center;
		list-style-type: none;
	}

	&__item {
		max-width: 56.5rem;
		text-align: center;
		color: $dark;
		font-size: 1.7rem;
		line-height: 2rem;
		display: none;
		animation: services .8s;

		&--current {
			display: block;
		}
	}

	&__subheading {
		margin-bottom: 3rem;
		font-size: 2.2rem;
		font-weight: 400;
		text-transform: uppercase;
		color: $violet;
	}

	&__btn {
		@extend .header__btn;
		margin-top: 3rem;
		animation: servicesBtn .8s;
	}

	p {
		margin: 0;
	}
}

.seo {
	min-height: 100vh;
	padding: 12rem 0;
	display: flex;
	align-items: center;
	justify-content: center;

	&__row {
		@extend .about__row;
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		font-size: 1.7rem;
		line-height: 1.7rem;
		color: $dark;

		&--left {
			width: 43%;
			margin-bottom: 3rem;
		}

		&--right {
			width: 57%;
			margin-bottom: 3rem;
			display: flex;
			justify-content: flex-end;
		}
	}

	&__heading {
		margin: 2rem 0 3rem;
		font-size: 2.2rem;
		font-weight: 400;
		color: $violet;
		text-transform: uppercase;
	}
}

.conditions {
	padding: 3.5rem 0;

	&__row {
		@extend .about__row;
	}

	&__list {
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: space-between;
		list-style-type: none;
	}

	&__item {
		width: calc(25% - 1.5rem);
		perspective: 100rem;

		&:hover &-body {
			transform: rotateY(180deg);
		}

		&-body {
			width: 100%;
			height: 30rem;
			position: relative;
			overflow: hidden;
			transition: all .3s;
			transform-style: preserve-3d;
		}

		&--front,
		&--back {
			height: 100%;
			width: 100%;
			padding: 1.5rem;
			text-align: center;
			font-size: 1.6rem;
		}

		&--front {
			position: relative;
			z-index: 6;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: $light;
		}

		&--back {
			position: absolute;
			left: 0;
			top: 0;
			z-index: 3;
			background-color: $violet + db;
			color: $white;
			transition: all .5s;
			transform: rotateY(180deg);
		}
	}

	&__heading {
		margin-top: 2rem;
		font-size: 1.6rem;
		font-weight: 400;
		text-transform: uppercase;
	}

	&__icon {
		height: 6.5rem;
	}
}

.portfolio {
	padding: 6rem 0;
	background-color: $violet;
	color: $white;
	text-transform: uppercase;
	text-align: center;
	overflow: hidden;

	&__heading {
		margin: 0;
		font-size: 1.8rem;
		font-weight: 400;
	}

	&__list {
		width: calc(100% + .5rem);
		transform: translateX(-.25rem);
		padding: 0;
		margin: 3.5rem 0 0;
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
	}

	&__item {
		width: calc(25% - .5rem);
		height: 33rem;
		padding: 1rem;
		margin: .25rem;
		position: relative;
		overflow: hidden;
	}

	&__item:hover &__link {
		top: 1rem;
	}

	&__preview {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		object-fit: cover;
	}

	&__link {
		width: calc(100% - 2rem);
		height: calc(100% - 2rem);
		padding: 1.5rem;
		position: absolute;
		left: 1rem;
		top: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $orange + d9;
		font-size: 2rem;
		font-weight: 400;
		line-height: 3rem;
		text-transform: uppercase;
		transition: all .3s;
	}

	&__btn {
		@extend .header__btn;
		margin-top: 4rem;
		background-color: #a179f6;
	}
}

.banner {
	min-height: 80vh;
	padding: 10rem 1.5rem;
	background-image:url('../img/bg.jpg');
	background-size: cover;
	background-position: left;
	color: $white;
	font-size: 1.7rem;
	line-height: 2.2rem;

	&__row {
		@extend .about__row;
		padding-right: 35vw;
	}

	&__heading {
		margin-top: 0;
		font-size: 3.5rem;
		font-weight: 400;
		text-transform: uppercase;
		line-height: 5.5rem;
	}

	&__btn {
		@extend .header__btn;
	}

	&__form {
		display: none;
	}
}

.footer {
	padding: 6rem 1.5rem;
	font-size: 1.7rem;
	text-align: center;
	text-transform: uppercase;
	background-color: $orange;
	color: $white;

	&__row {
		@extend .about__row;
	}

	&__btn {
		width: 3.6rem;
		height: 3rem;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		font-size: .1rem;

		&:hover span {
			transform: translateY(0);
		}

		span {
			display: flex;
			transform: translateY(.5rem);
			color: $orange;
			transition: all .1s;

			&::before,
			&::after {
				content: "";
				width: 2.5rem;
				height: .5rem;
				display: inline-block;
				background-color: $white;
			}

			&::before {
				transform: rotateZ(-45deg) translateX(1rem);
			}

			&::after {
				transform: rotateZ(45deg) translateX(-1rem);
			}
		}
	}

	&__nav {
		width: 75%;
		padding: 0;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		list-style-type: none;
		font-family: Spectral;
		color: $violet;
	}

	&__link {
		padding: .5rem 1rem;
		border: .2rem solid $orange;
		transition: all .2s;

		&:hover {
			border-color: $violet;
		}
	}
}