*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: 'Montserrat';
}

body {
	margin: 0;
}

p {
	font-family: 'Spectral';
}

a {
	text-decoration: none;
	color: inherit;
}

.header {
	min-height: 100vh;
	position: relative;
	z-index: 0;
	color: $white;

	&__top {
		width: 114rem;
		padding: 1.8rem 1.5rem;
		margin: 0 auto;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__social {
		padding: 0;
		margin: 0;
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		list-style-type: none;

		&-item {
			&:not(:first-child):not(:last-child) {
				margin: 0 .35rem;
			}

			&:first-child {
				margin: 0 .35rem 0 0;
			}

			&:last-child {
				margin: 0 0 0 .35rem;
			}
		}

		&-link {
			width: 3rem;
			height: 3rem;
			display: flex;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			justify-content: center;
			align-items: center;
			font-size: 1.4rem;
			border-radius: 100%;
			background-color: $white + fff21;
			color: $violet;
			transition: all .1s;

			&:hover {
				color: $white;

				&.icon {
					&-facebook {
						background-color: #3b67ea;
					}

					&-linkedin {
						background-color: #007ab5;
					}

					&-gplus {
						background-color: #df4b38;
					}

					&-tumblr {
						background-color: #34465d;
					}

					&-pinterest {
						background-color: #f33434;
					}

					&-instagram {
						background-color: #e7d6c4;
					}
				}
			}
		}
	}

	&__contacts {
		margin: 0;
		padding: 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		list-style-type: none;

		&-item {
			&:not(:first-child):not(:last-child) {
				margin: 0 1.5rem;
			}

			&:first-child {
				margin: 0 1.5rem 0 0;
			}

			&:last-child {
				margin: 0 0 0 1.5rem;
			}
		}

		&-link {
			font-size: 1.4rem;
			transition: all .1s;

			&:hover {
				color: $violet;
			}

			&::before {
				display: inline-block;
				margin-right: 1rem;
			}
		}
	}

	&__bar {
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;

		&-row {
			width: 114rem;
			min-height: 5rem;
			padding: 0 1.5rem;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__nav {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;

		&-cont {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
		}

		&-item {
			&:not(:first-child):not(:last-child) {
				margin: 0 1.5rem;
			}

			&:first-child {
				margin: 0 1.5rem 0 0;
			}

			&:last-child {
				margin: 0 0 0 1.5rem;
			}
		}

		&-item--have-megamenu &-link {
			&::after {
				content: "▼";
				display: inline-block;
				margin-left: .5rem;
				transform: translateY(-.1rem);
				font-size: 1.5rem;
			}
		}

		&-item--current &-link {
			color: $violet;
		}

		&-link {
			font-size: 1.5rem;
			font-weight: 700;
			transition: all .1s;
			
			&:hover {
				color: $violet;
			}
		}
	}

	&__megamenu {
		display: none;
	}

	&__login {
		font-size: 2rem;
		margin-left: 3rem;
		transition: all .1s;

		&:hover {
			color: $violet;
		}
	}

	&__banner {
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		font-size: 1.8rem;
	}

	&__row {
		width: 84rem;
		height: 69vh;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}

	&__cont {
		width: 65rem;
		max-width: 100%;
	}

	&__content {
		width: 71%;
		margin: auto;
		display: flex;
		flex-direction: column;
		font-weight: 400;
	}

	&__title {
		margin: 0;
		text-transform: uppercase;
		font-size: 8.5rem;

		&--small {
			font-size: 3.5rem;
		}

		&--color {
			margin-right: 1.5rem;
			color: $violet;
		}
	}

	&__btn {
		min-height: 4.5rem;
		width: max-content;
		padding: 0 4rem;
		margin-top: 1.5rem;
		margin-left: auto;
		border-radius: .3rem;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-weight: 700;
		font-size: 1.3rem;
		text-transform: uppercase;
		background-color: $violet;
		transition: all .1s;
	}

	&__bg {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
	}

	&__video {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.about {
	min-height: 75vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;	
	text-transform: uppercase;
	font-size: 2.4rem;
	color: $violet;
	text-align: center;
	line-height: 5.5rem;

	&__row {
		width: 114rem;
		max-width: 100%;
		margin: auto;
	}

	&__heading {
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;
		transform: translateY(-50%) translateX(-50%);
		font-size: 40rem;
		color: $light;
	}

	p {
		font-family: 'Montserrat';
	}
}

.services {
	min-height: 100vh;
	padding: 6rem 0;
	background-color: $light;

	&__row {
		@extend .about__row;
		display: flex;
		justify-content: space-between;
	}

	&__left {
		width: 39rem;
		min-height: calc(100vh - 12rem);
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $violet;
	}

	&__right {
		width: 70.5rem;
		margin-left: auto;
	}

	&__nav {
		width: 90%;
		padding: 0;
		margin: 0 auto;
		list-style: none;
		display: flex;
		justify-content: space-between;

		&-btn {
			font-size: .1rem;
			background-color: transparent;
			color: $white;
			border-width: 0;
			cursor: pointer;

			&-icon {
				height: 5rem;
			}
		}
	}

	&__list {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	&__item {
		text-align: center;
		color: $dark;
	}
}