// MONTSERRAT
	// NORMAL
@font-face {
	src: url('../fonts/Montserrat/Montserrat-Thin.ttf');
	font-family: Montserrat;
	font-weight: 100;
	font-style: normal;
}

@font-face {
	src: url('../fonts/Montserrat/Montserrat-ExtraLight.ttf');
	font-family: Montserrat;
	font-weight: 200;
	font-style: normal;
}

@font-face {
	src: url('../fonts/Montserrat/Montserrat-Light.ttf');
	font-family: Montserrat;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
	font-family: Montserrat;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url('../fonts/Montserrat/Montserrat-Medium.ttf');
	font-family: Montserrat;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf');
	font-family: Montserrat;
	font-weight: 600;
	font-style: normal;
}

@font-face {
	src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
	font-family: Montserrat;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url('../fonts/Montserrat/Montserrat-ExtraBold.ttf');
	font-family: Montserrat;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	src: url('../fonts/Montserrat/Montserrat-Black.ttf');
	font-family: Montserrat;
	font-weight: 900;
	font-style: normal;
}
	// ITALIC
@font-face {
	src: url('../fonts/Montserrat/Montserrat-ThinItalic.ttf');
	font-family: Montserrat;
	font-weight: 100;
	font-style: italic;
}

@font-face {
	src: url('../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf');
	font-family: Montserrat;
	font-weight: 200;
	font-style: italic;
}

@font-face {
	src: url('../fonts/Montserrat/Montserrat-LightItalic.ttf');
	font-family: Montserrat;
	font-weight: 300;
	font-style: italic;
}

@font-face {
	src: url('../fonts/Montserrat/Montserrat-RegularItalic.ttf');
	font-family: Montserrat;
	font-weight: 400;
	font-style: italic;
}

@font-face {
	src: url('../fonts/Montserrat/Montserrat-MediumItalic.ttf');
	font-family: Montserrat;
	font-weight: 500;
	font-style: italic;
}

@font-face {
	src: url('../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf');
	font-family: Montserrat;
	font-weight: 600;
	font-style: italic;
}

@font-face {
	src: url('../fonts/Montserrat/Montserrat-BoldItalic.ttf');
	font-family: Montserrat;
	font-weight: 700;
	font-style: italic;
}

@font-face {
	src: url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf');
	font-family: Montserrat;
	font-weight: 800;
	font-style: italic;
}

@font-face {
	src: url('../fonts/Montserrat/Montserrat-BlackItalic.ttf');
	font-family: Montserrat;
	font-weight: 900;
	font-style: italic;
}

//----------------------------------------------------------

// RALEWAY
	// NORMAL
@font-face {
	src: url('../fonts/Raleway/Raleway-Thin.ttf');
	font-family: Raleway;
	font-weight: 100;
	font-style: normal;
}

@font-face {
	src: url('../fonts/Raleway/Raleway-ExtraLight.ttf');
	font-family: Raleway;
	font-weight: 200;
	font-style: normal;
}

@font-face {
	src: url('../fonts/Raleway/Raleway-Light.ttf');
	font-family: Raleway;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	src: url('../fonts/Raleway/Raleway-Regular.ttf');
	font-family: Raleway;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url('../fonts/Raleway/Raleway-Medium.ttf');
	font-family: Raleway;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	src: url('../fonts/Raleway/Raleway-SemiBold.ttf');
	font-family: Montserrat;
	font-weight: 600;
	font-style: normal;
}

@font-face {
	src: url('../fonts/Raleway/Raleway-Bold.ttf');
	font-family: Raleway;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url('../fonts/Raleway/Raleway-ExtraBold.ttf');
	font-family: Raleway;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	src: url('../fonts/Raleway/Raleway-Black.ttf');
	font-family: Montserrat;
	font-weight: 900;
	font-style: normal;
}
	// ITALIC
@font-face {
	src: url('../fonts/Raleway/Raleway-ThinItalic.ttf');
	font-family: Raleway;
	font-weight: 100;
	font-style: italic;
}

@font-face {
	src: url('../fonts/Raleway/Raleway-ExtraLightItalic.ttf');
	font-family: Raleway;
	font-weight: 200;
	font-style: italic;
}

@font-face {
	src: url('../fonts/Raleway/Raleway-LightItalic.ttf');
	font-family: Raleway;
	font-weight: 300;
	font-style: italic;
}

@font-face {
	src: url('../fonts/Raleway/Raleway-RegularItalic.ttf');
	font-family: Raleway;
	font-weight: 400;
	font-style: italic;
}

@font-face {
	src: url('../fonts/Raleway/Raleway-MediumItalic.ttf');
	font-family: Raleway;
	font-weight: 500;
	font-style: italic;
}

@font-face {
	src: url('../fonts/Raleway/Raleway-SemiBoldItalic.ttf');
	font-family: Raleway;
	font-weight: 600;
	font-style: italic;
}

@font-face {
	src: url('../fonts/Raleway/Raleway-BoldItalic.ttf');
	font-family: Raleway;
	font-weight: 700;
	font-style: italic;
}

@font-face {
	src: url('../fonts/Raleway/Raleway-ExtraBoldItalic.ttf');
	font-family: Raleway;
	font-weight: 800;
	font-style: italic;
}

@font-face {
	src: url('../fonts/Raleway/Raleway-BlackItalic.ttf');
	font-family: Raleway;
	font-weight: 900;
	font-style: italic;
}